packages/nextjs/public/assets/titleImage.png
packages/oracle/artStyle.txt
packages/oracle/downloaded_image_no_bg.png
packages/oracle/downloaded_image.png
packages/trading-bots/data.json
packages/nextjs/tokens.config.ts
packages/trading-bots/*.txt
packages/oracle/prompt.txt
packages/oracle/priceList.json
packages/oracle/.yarn
packages/trading-bots/wallets.json
packages/oracle/assetList.json
packages/oracle/rawAssetList.json

packages/nextjs/contracts/deployedContracts.ts
packages/oracle/.env
node_modules
packages/nextjs/.env

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.vscode/**
.DS_Store
